<div style="display: flex; align-items: center;">
    <img src="../figures/Mines Geophysics Black Moon Circle Waves 3.3.png" alt="Example Image" width="10%">
    <div style="margin-left: 10px;">
        <h1>GP100 Alumni Map</h1>
        <h2>Data Analysis</h2>
    </div>
</div>

### Loading the Data

In [1]:
# import modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# load data into a dataframe
path = '../data/GP_Alumni_List.csv'
df = pd.read_csv(path)

### Cleaning the Data

In [3]:
# clean the dataframe

#delete rows if Affiliation is not alumni
df = df[df['Affiliation'] == 'Alumni']

#clean Degree column to include only degree level
validDegrees = ['BSc','MSc','PhD']
df['Degrees'] = df['Degrees'].fillna('').apply(lambda x: [deg.strip() for deg in x.split() if deg.strip() in validDegrees])

#split people with multiple degrees into separate rows
df = df.explode('Degrees')

#replace NaN in country column with United States or Canada based on StateorProvince
df.loc[df['StateOrProvince'].isin(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE',
                                   'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS',
                                   'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS',
                                   'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
                                   'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC',
                                   'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV',
                                   'WI', 'WY']), 'Country'] = df.loc[df['StateOrProvince'].isin(['AL', 
                                   'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 
                                   'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY',
                                   'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 
                                   'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 
                                   'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD',
                                   'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 
                                   'WY']), 'Country'].fillna('United States')

df.loc[df['StateOrProvince'].isin(['AB', 'BC', 'MB', 'NB', 'NL', 'NS', 'NT', 'NU', 
                                   'ON', 'PE', 'QC', 'SK', 'YT']), 'Country'] = df.loc[df['StateOrProvince'].isin(['AB', 
                                    'BC', 'MB', 'NB', 'NL', 'NS', 'NT', 'NU', 'ON', 
                                    'PE', 'QC', 'SK', 'YT']), 'Country'].fillna('Canada')

df.reset_index(drop=True, inplace=True)
df

     Affiliation  PrefClassYear Degrees StateOrProvince         Country
0         Alumni         1983.0     BSc              CO   United States
1         Alumni         1995.0     BSc              CO   United States
2         Alumni         2013.0     MSc             NaN         Bahrain
3         Alumni         1999.0     MSc             NaN  United Kingdom
4         Alumni         1982.0     BSc              OK   United States
...          ...            ...     ...             ...             ...
2225      Alumni         2012.0     BSc              CO   United States
2226      Alumni         1982.0     BSc              TX   United States
2227      Alumni         1981.0     BSc              UT   United States
2228      Alumni         2019.0     BSc              CO   United States
2229      Alumni         2012.0     MSc              CO   United States

[2230 rows x 5 columns]

In [5]:
df.to_csv('../data/GP_Alumni_List_Cleaned.csv', index=False)