<div style="display: flex; align-items: center;">
    <img src="../figures/Mines Geophysics Black Moon Circle Waves 3.3.png" alt="Example Image" width="10%">
    <div style="margin-left: 10px;">
        <h1>GP100 Alumni Map</h1>
        <h2>Data Analysis</h2>
    </div>
</div>

### Loading the Data

In [1]:
# import modules
import numpy as np
import pandas as pd

In [12]:
# load data into a dataframe
path = './data/GP_Alumni_List.csv'
df = pd.read_csv(path)

# quick look at data
df.mode()

  Affiliation  PrefClassYear           Degrees StateOrProvince       Country
0      Alumni         1986.0  BSc Geop Eng '83              CO  Saudi Arabia

### Cleaning the Data

In [ ]:
# Delete rows if they are not alumni, and then delete the affiliation column

# Seperate Degrees into BSc, BSc_yr, MSc, MSc_yr, phD, phD_yr

# Remove Canadians
# (if item in StateOrProvince > 2 characters, remove)
# Rename StateOrProvince to just 'State'